---
layout: page
title: "Achievements"
description: "Hey, this is Wayne Fang. I am documenting my Bio and achievements in this blog👀 ."
---



<!-- header-img: "img/post-bg-rwd.jpg" -->
<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

 <!--Chinese Version -->

<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Where there's a will, <br> there's a way.</p></blockquote>

     <div class="description"> 

  
    <p><font size="3">👋 Wayne Fang currently serves as the head of the Document and Knowledge Processing Division at the AI and Digitalization Research Center of China IPPR International Engineering Co., Ltd. (China IPPR). In recent years, he has led or participated in the development of knowledge bases, knowledge graphs, and large language models.</font>
            
    <p> <font size="3">💗 Research Focus: LLM(Large Language Model)、RAG(Retrieval-Augmented Generation)、Document Intelligence、Knowledge Graph、Text Computation.</font>
          
    <p> <font size="3">📐Sector Experience：Internet、Architectural Design、Retail</font>
          
    <p> <font size="3">🧵 Academic Achievements：3 Invention patent, 2 Computer software copyright, Over 10 top papers (e.g. TOIS(CCF-A)、ICASSP(CCF-B))；</font>
          
     <!--  <p> <font size="3">🏆 国内外竞赛：CCKS2022多模态实体对齐、OGB-Wikikg2实体链接预测、ICPR2024多行公式识别、ICDAR2025文档翻译及问答等获TOP1-3；</font> -->
          
    <p> <font size="3">🎦 Open Source Project：Over 70 Projects；</font>          

    <p></p>
  
       </div>
        <h3 class="ui horizontal divider header"><i class="star outline icon"></i> Open Source Projects (68 Projects) </h3>
  <h4 class="ui horizontal divider header"><i class="tag icon"></i>常识推理</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/CommonSchemaKG">CommonSchemaKG</a></td>
      <td>开放通用实体与事件schema工程</td>
      <td>常识推理</td>
      <td>2021/04/27</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/CognitiveInference">CognitiveInference</a></td>
      <td>认知图谱及其推理</td>
      <td>常识推理</td>
      <td>2020/8/30</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/EventPredictBasedOnEG">EventPredictBasedOnEG</a></td>
      <td>基于因果事理的事件预测</td>
      <td>常识推理</td>
      <td>2019/3/29</td>
    </tr>
     </tbody>
  </table>

   <h4 class="ui horizontal divider header"><i class="tag icon"></i>系统平台</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/EventKGNELL">EventKGNELL</a></td>
      <td>实时事理知识库构建系统</td>
      <td>系统平台</td>
      <td>2020/3/18</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/LanguageKnowledgeGraph">LanguageKnowledgeGraph</a></td>
      <td>语言政策领域知识图谱系统</td>
      <td>系统平台</td>
      <td>2018/3/14</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/LanguagePlatform">LanguagePlatform</a></td>
      <td>自然语言处理综合平台</td>
      <td>系统平台</td>
      <td>2018/3/6</td>
    </tr>
     </tbody>
  </table>

    <h4 class="ui horizontal divider header"><i class="tag icon"></i>知识问答</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/QASystemOnMedicalKG">QASystemOnMedicalKG</a></td>
      <td>医疗知识图谱问答</td>
      <td>知识问答</td>
      <td>2020/8/13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/QAonMilitaryKG">QAonMilitaryKG</a></td>
      <td>武器装备知识图谱问答</td>
      <td>知识问答</td>
      <td>2020/4/19</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ZhidaoChatbot">ZhidaoChatbot</a></td>
      <td>基于知道数据的机器问答</td>
      <td>知识问答</td>
      <td>2019/3/29</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/CrimeKgAssitant">CrimeKgAssitant</a></td>
      <td>法律罪名预测与机器问答</td>
      <td>知识问答</td>
      <td>2018/12/15</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/MusicLyricChatbot">MusicLyricChatbot</a></td>
      <td>基于es的歌词接龙问答</td>
      <td>知识问答</td>
      <td>2018/10/15</td>
    </tr>
     </tbody>
  </table>

   <h4 class="ui horizontal divider header"><i class="tag icon"></i>知识图谱</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChainKnowledgeGraph</a></td>
      <td>产业链图谱数据集</td>
      <td>知识图谱</td>
      <td>2021/10/26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/AbstractKnowledgeGraph">AbstractKnowledgeGraph</a></td>
      <td>抽象上下位知识图谱数据集</td>
      <td>知识图谱</td>
      <td>2019/8/6</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/PersonGraphDataSet">PersonGraphDataSet</a></td>
      <td>人物关系图谱数据集</td>
      <td>知识图谱</td>
      <td>2021/1/26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/CausalCollocation">CausalCollocation</a></td>
      <td>因果搭配抽取数据集</td>
      <td>知识图谱</td>
      <td>2019/4/22</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ProductKnowledgeGraph">ProductKnowledgeGraph</a></td>
      <td>产品知识图谱数据集</td>
      <td>知识图谱</td>
      <td>2019/4/1</td>
    </tr>
     </tbody>
  </table>

   <h4 class="ui horizontal divider header"><i class="tag icon"></i>语言资源</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td><a href="https://github.com/liuhuanyong/DomainWordsDict">DomainWordsDict</a></td>
      <td>领域特征词汇知识库</td>
      <td>语言资源</td>
      <td>2021/8/28</td>
    </tr> 
      
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseDiachronicCorpus">ChineseDiachronicCorpus</a></td>
      <td>中文历时语料库</td>
      <td>语言资源</td>
      <td>2021/1/13</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseSemanticKB">ChineseSemanticKB</a></td>
      <td>中文语义知识库数据集</td>
      <td>语言资源</td>
      <td>2020/7/18</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/MiningZhiDaoQACorpus">CausalCollocation</a></td>
      <td>百度知道类问答数据集</td>
      <td>语言资源</td>
      <td>2019/8/6</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/HistoryHotEventBase">HistoryHotEventBase</a></td>
      <td>历时热点事件数据集</td>
      <td>语言资源</td>
      <td>2019/4/22</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseNLPCorpus">ChineseNLPCorpus</a></td>
      <td>中文开放语料数据集</td>
      <td>语言资源</td>
      <td>2018/12/16</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseEmbedding">ChineseEmbedding</a></td>
      <td>基于word2vec的中文向量数据集</td>
      <td>语言资源</td>
      <td>2018/12/15</td>
    </tr>
        <tr>
      <td><a href="https://github.com/liuhuanyong/BaikeKnowledgeSchema">BaikeKnowledgeSchema</a></td>
      <td>百科分类知识库数据集</td>
      <td>语言资源</td>
      <td>2018/4/25</td>
    </tr>
     </tbody>
  </table>


   <h4 class="ui horizontal divider header"><i class="tag icon"></i>语言工具</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseAntiword">ChineseAntiword</a></td>
      <td>中文反义词组件</td>
      <td>语言工具</td>
      <td>2018/8/26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/ChineseCixing">ChineseCixing</a></td>
      <td>中文字形拆解组件</td>
      <td>语言工具</td>
      <td>2018/8/26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/QueryCorrection">QueryCorrection</a></td>
      <td>基于HMM的问句纠错</td>
      <td>语言工具</td>
      <td>2018/5/27</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/Pinyin2Chinese">Pinyin2Chinese</a></td>
      <td>基于HMM的拼音转汉字</td>
      <td>语言工具</td>
      <td>2018/4/24</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/Word2Vector">Word2Vector</a></td>
      <td>基于共现、PCA、CBOW的词向量生成</td>
      <td>语言工具</td>
      <td>2019/4/22</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/Pinyin2Chinese">Pinyin2Chinese</a></td>
      <td>基于HMM的拼音转汉字</td>
      <td>语言工具</td>
      <td>2018/4/24</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/HuanNLP">HuanNLP</a></td>
      <td>手写的分词、词性标注、依存句法分析组件</td>
      <td>语言工具</td>
      <td>2018/4/14</td>
    </tr>
        <tr>
      <td><a href="https://github.com/liuhuanyong/WordSegment">WordSegment</a></td>
      <td>基于HMM、最大切分的中文分词</td>
      <td>语言工具</td>
      <td>2018/3/27</td>
    </tr>

    <tr>
      <td><a href="https://github.com/liuhuanyong/Sentence2Vector">Sentence2Vector</a></td>
      <td>基于CBOW的句子向量生成</td>
      <td>语言工具</td>
      <td>2018/3/25</td>
    </tr>
     </tbody>
  </table>

   <h4 class="ui horizontal divider header"><i class="tag icon"></i>信息抽取</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/EventTriplesExtraction">EventTriplesExtraction</a></td>
      <td>主谓宾事件三元组抽取</td>
      <td>信息抽取</td>
      <td>2021/1/12</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/DescriptionKBExtraction">DescriptionKBExtraction</a></td>
      <td>概念描述三元组抽取</td>
      <td>信息抽取</td>
      <td>2020/7/24</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/PersonRelationKnowledgeGraph">PersonRelationKnowledgeGraph</a></td>
      <td>基于boostrapping的人物关系抽取</td>
      <td>信息抽取</td>
      <td>2018/12/15</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/QueryCorrection">QueryCorrection</a></td>
      <td>基于HMM的问句纠错</td>
      <td>信息抽取</td>
      <td>2018/5/27</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/LawCrimeMining">LawCrimeMining</a></td>
      <td>法律条文知识抽取</td>
      <td>信息抽取</td>
      <td>2018/12/15</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/MedicalNamedEntityRecognition">MedicalNamedEntityRecognition</a></td>
      <td>医疗命名实体识别</td>
      <td>信息抽取</td>
      <td>2018/12/15</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/HyponymyExtraction">HyponymyExtraction</a></td>
      <td>基于百科数据的上下位抽取</td>
      <td>信息抽取</td>
      <td>2018/10/7</td>
    </tr>
        <tr>
      <td><a href="https://github.com/liuhuanyong/TextFeatureExtraction">TextFeatureExtraction</a></td>
      <td>基于 CHI、DF、 IG、MI的文本特征词提取</td>
      <td>信息抽取</td>
      <td>2018/4/18</td>
    </tr>

    <tr>
      <td><a href="https://github.com/liuhuanyong/KeyInfoExtraction">KeyInfoExtraction</a></td>
      <td>基于TFIDF、TextRank的关键词、摘要提取</td>
      <td>信息抽取</td>
      <td>2018/4/17</td>
    </tr>

    <tr>
      <td><a href="https://github.com/liuhuanyong/WordCollocation">WordCollocation</a></td>
      <td>基于MI的词语搭配抽取</td>
      <td>信息抽取</td>
      <td>2018/4/5</td>
    </tr>

    <tr>
      <td><a href="https://github.com/liuhuanyong/BaikeInfoExtraction">BaikeInfoExtraction</a></td>
      <td>面向百科的半结构化信息抽取</td>
      <td>信息抽取</td>
      <td>2018/3/30</td>
    </tr>
     </tbody>
  </table>


   <h4 class="ui horizontal divider header"><i class="tag icon"></i>信息采集</h4>
  <table class="ui three column table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Project Name</th>
      <th>Chinese Project Name</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/liuhuanyong/WeiboIndexSpyder">WeiboIndexSpyder</a></td>
      <td>微博指数采集</td>
      <td>信息采集</td>
      <td>2018/5/29</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/AliIndexSpyder">AliIndexSpyder</a></td>
      <td>阿里商品指数采集</td>
      <td>信息采集</td>
      <td>2018/8/26</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/QueryCorrection">QueryCorrection</a></td>
      <td>基于HMM的问句矫正</td>
      <td>信息采集</td>
      <td>2018/5/29</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/BaiduIndexSpyder">BaiduIndexSpyder</a></td>
      <td>百度指数采集</td>
      <td>信息采集</td>
      <td>2018/5/27</td>
    </tr>
    <tr>
      <td><a href="https://github.com/liuhuanyong/SougouWordsCollector">SougouWordsCollector</a></td>
      <td>基于搜狗输入法的领域词收集</td>
      <td>信息采集</td>
      <td>2018/4/25</td>
    </tr>
     </tbody>
  </table>
 
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="https://github.com/waynefangw/">Git Hub Repository</a></li>
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

